@import "src/themes/themes";

.filterBar {
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid $primaryGreen;
  .filterWindow {
    width: 100%;
    display: flex;
    gap: 18px;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-scroll-snap-type: mandatory;
    scroll-snap-type: x mandatory;
    -webkit-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
