@import "src/themes/themes";

.navMenu {
  height: calc(100vh - 115px);
  position: absolute;
  top: 76px;
  left: 0;
  width: 50%;
  padding: 20px;
  background: rgb(97, 97, 97);
  background: linear-gradient(
    0deg,
    rgba(97, 97, 97, 1) 0%,
    rgba(116, 116, 116, 1) 0%,
    rgba(73, 73, 73, 1) 100%
  );
  &.hide {
    transform: translateX(-300px);
    transition: transform 0.5s ease-out, visibility 1s;
    visibility: hidden;
  }

  &.show {
    visibility: visible;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out, visibility 0s;
    // -webkit-transition: transform 0.5s ease-out;
    // -moz-transition: transform 0.5s ease-out;
    // -ms-transition: transform 0.5s ease-out;
    // -o-transition: transform 0.5s ease-out;
  }

  .menuItem {
    font-size: 20px;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
  }
}
