/* Font Weights */
$fwThin: 100;
$fwExtraThin: 200;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;
$fwBlack: 900;
$fwExtraBlack: 950;

// Map SCSS theme variables to CSS variables

//Primary, Secondary
$primaryGray: --primaryGray;
$secondayGray: --secondaryGray;
$darkGray: --darkGray;
$primaryGreen: --primaryGreen;
$white: --white;

//Neutral
$neutralWhite: --neutralWhite;
$neutralGrey50: --neutralGrey50;
$neutralGrey100: --neutralGrey100;
$neutralGrey200: --neutralGrey200;
$neutralGrey300: --neutralGrey300;
$neutralGrey400: --neutralGrey400;
$neutralGrey500: --neutralGrey500;
$neutralGrey600: --neutralGrey600;
$neutralGrey700: --neutralGrey700;
$neutralGrey800: --neutralGrey800;
$neutralGrey900: --neutralGrey900;
$neutralBlack: --neutralBlack;

//Accent
$accentSuccessLight: --accentSuccessLight;
$accentSuccess: --accentSuccess;
$accentSuccessDark: --accentSuccessDark;
$accentErrorLight: --accentErrorLight;
$accentError: --accentError;
$accentErrorDark: --accentErrorDark;
$accentWarningLight: --accentWarningLight;
$accentWarning: --accentWarning;
$accentWarningDark: --accentWarningDark;
$accentInfoLight: --accentInfoLight;
$accentInfo: --accentInfo;
$accentInfoDark: --accentInfoDark;
