.navWrapper {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  .navBar {
    height: 60px;
    background-color: #444c4f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    box-shadow: -1px 5px 6px 0px rgba(26, 26, 26, 0.77);
    position: relative;

    .linkContainer {
      display: flex;
      gap: 20px;
      color: whitesmoke;
    }
    @media screen and (min-width: 768px) {
      .hamburger {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      .linkContainer {
        display: none;
      }
      .logo {
        display: none;
      }
    }
  }
}
