@import "../../../themes/themes";

.loginModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $primaryGray;
  border-radius: 10px;
  position: relative;
  padding: 36px;
  background: linear-gradient(
    171deg,
    rgba(77, 77, 77, 1) 0%,
    rgb(65, 64, 64) 80%
  );
  -webkit-box-shadow: 0px 0px 38px 18px #1d1c1c;
  -moz-box-shadow: 0px 0px 38px 18px #202020;
  box-shadow: 0px 0px 38px 18px #645e5e;
}
